Django>=4.2
django-allauth[socialaccount]
python-jobspy
pdfplumber
groq
requests
beautifulsoup4
python-dotenv
psycopg2-binary
dj-database-url
gunicorn
whitenoise
google-auth
google-auth-oauthlib
google-api-python-client
playwright
aiohttp